* {    
  box-sizing: border-box;
}
div {
  background-color: lightblue;
}
.body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;  
  font-family: cambria, Helvetica, sans-serif;
}
.Resume{
    margin: 30px;
    background-color: rgb(255, 255, 255);
}
.h2 {
    background-color: rgb(, 96, 150);
}
.header {
 /* background-color: #666;*/
  background-color:blue;
  border: 3px solid black;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  color: white;
}
.article {
  float: right; 
  width: 09%;
  position:relative;
  bottom: 200px;
  color: White
  }
.footer {
/*  background-color:grey;*/
  padding: 10px;
  text-align: left;
  color:black;
}



